<% layout('/layouts/boilerplate.ejs') -%>
<body>
  <div class="container">
    <div class="row offset-1">
      <h1>Book Appointment for <%= service.title %></h1>
    </div>
    <div class="row offset-1">
      <div class="col-8">
        <form
          action="/bookings"
          method="POST"
          class="needs-validation"
          novalidate
        >
          <input type="hidden" name="serviceId" value="<%= service._id %>">

          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="date"
              name="date"
              required
            />
            <label for="date" class="form-label">Preferred Date:</label>
            <div class="invalid-feedback">
              Please select a date.
            </div>
          </div>

          <div class="form-floating mb-3">
            <input
              type="time"
              class="form-control"
              id="time"
              name="time"
              required
            />
            <label for="time" class="form-label">Preferred Time:</label>
            <div class="invalid-feedback">
              Please select a time.
            </div>
          </div>

          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              placeholder="Any special instructions or details"
              id="notes"
              name="notes"
            ></textarea>
            <label for="notes">Additional Notes (optional)</label>
          </div>

          <button type="submit" class="btn btn-primary">Book Appointment</button>
        </form>
      </div>
    </div>
  </div>
</body>
