 <footer class=" text-white pt-5 pb-4 footer" style=" background-Color: #2c3e50">
      <div class="container text-center text-md-start">
        

        <div class="row text-md-start text-center">
          <div class="col-md-3 mb-4">
            <h5 class="fw-bold d-flex align-items-center gap-2">
            <span className="  d-inline-block" style="width: 24px;  height: 24px">
                <i class="fa-solid fa-house-user"></i>
                
              </span>
              ServiceHub
            </h5>
            <p>Your trusted platform for finding and booking local services.</p>
          </div>

          <div class="col-md-3 mb-4">
            <h6 class="fw-bold">For Customers</h6>
            <ul class="list-unstyled ">
              <li><a href="#" class="text-white   text-decoration-none">Browse Services</a></li>
              <li><a href="#" class="text-white text-decoration-none">How It Works</a></li>
              <li><a href="#" class="text-white text-decoration-none">Support</a></li>
              <li><a href="#" class="text-white text-decoration-none">Reviews</a></li>
            </ul>
          </div>

          <div class="col-md-3 mb-4">
            <h6 class="fw-bold">For Providers</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Join as Provider</a></li>
              <li><a href="#" class="text-white text-decoration-none">Provider Resources</a></li>
              <li><a href="#" class="text-white text-decoration-none">Success Stories</a></li>
              <li><a href="#" class="text-white text-decoration-none">Tools & Support</a></li>
            </ul>
          </div>

          <div class="col-md-3 mb-4">
            <h6 class="fw-bold">Company</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">About Us</a></li>
              <li><a href="#" class="text-white text-decoration-none">Careers</a></li>
              <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
              <li><a href="#" class="text-white text-decoration-none">Terms of Service</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <small>© 2025 ServiceHub. All rights reserved.</small>
      </div>
    </footer>